body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    margin: 0;
    padding-left: 120px;
}

.titulo{
    margin: 0;
    font-size: 2.5rem;
}

.subtitulo{
    margin: 0;
    font-size: 1.5rem
}

.rectanguloheader{
    background-color: rgba(250, 248, 248, 0.7);
    padding: 5px;
    display: inline-block;
}

.header{
    background-image: url(./img/tori\ madera.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 15vh;
    width: 100%;
    color: rgb(8, 0, 0);
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main{
    background-color: rgb(250, 227, 238);
    height: 77vh;
    width: 100%;
    margin: 0;
    padding: 0;
    
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.footer{
    background-image: url(./img/tori\ madera.jpg);
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    height: 8vh;
    width: 100%;
    color: rgb(14, 13, 13);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rectangulofooter{
    background-color: rgba(250, 248, 248, 0.7);
    padding: 10px;
    display: inline-block;
}
p{
    margin: 0;
}

table{
    width: 80%;
    max-width: 1000px;
    border-collapse: collapse;

}

img{
    width: 200px;
    margin-right: 10px;
}

td{
    font-size: 1.4rem; 

}